# Control Structures

### Question 


A word is said to belong to the red team if it has the letter r in it.
Write an 'if' statement to check whether the given word belongs to the red team or not.

In [ ]:
# write code here

Enter a word in small caps real
The word belongs to red team

### Question 

In continuation to previous example, if the word has the letter 'b', it belongs to the blue team. And if the word has both 'r' and 'b' then first letter gets a precedence. And if the word does not have the letter 'r' or 'b', it does not belong to any team. 
######Example: (word,output)                
*   rabbit = red team
*   brand =  blue team
*   dog   =  no team


Write a condition for this decision.

In [ ]:
# write code here 

# you might want to consider if statement inside a for loop

Enter a word in small caps break
The word belongs to blue team

### Question 

Write a program to print all the numbers which are divisible by 17 between 1 and a given number 'n'.

Enter the upper limit 100
17
34
51
68
85

### Question

Write a program to add 13 to all the elements of a given numeric list. 
######Example - 
* Input list = [1,5,27] 
* Output list = [14,18,40]

In [ ]:
sample_list = [6, 98, 34, 45, 64, 7, 2, 5, 78, 90, 324, 111, 657, 438]

# Write solution code here

[19, 111, 47, 58, 77, 20, 15, 18, 91, 103, 337, 124, 670, 451]

### Question

In continuation to the example above, execute the same operation on the same sample list using list comprihension.

[19, 111, 47, 58, 77, 20, 15, 18, 91, 103, 337, 124, 670, 451]

### Question 
This question has two tasks:
* Task 1 - Find the factors of all the numbers in a given list. 
* Task 2 - Add the numbers and their factors to a dictionary where the key will be the numbers from the list, and the values will be the factors of the respective number. 

Example - 
##### Sample output :
#####{6: [1, 2, 3, 6],
98: [1, 2, 7, 14, 49, 98],
##### 34: [1, 2, 17, 34],}

In [ ]:
sample_list = [6, 98, 34, 45, 64, 7, 2, 5, 78, 90, 324, 111, 657, 438]

# write code here

{6: [1, 2, 3, 6],
 98: [1, 2, 7, 14, 49, 98],
 34: [1, 2, 17, 34],
 45: [1, 3, 5, 9, 15, 45],
 64: [1, 2, 4, 8, 16, 32, 64],
 7: [1, 7],
 2: [1, 2],
 5: [1, 5],
 78: [1, 2, 3, 6, 13, 26, 39, 78],
 90: [1, 2, 3, 5, 6, 9, 10, 15, 18, 30, 45, 90],
 324: [1, 2, 3, 4, 6, 9, 12, 18, 27, 36, 54, 81, 108, 162, 324],
 111: [1, 3, 37, 111],
 657: [1, 3, 9, 73, 219, 657],
 438: [1, 2, 3, 6, 73, 146, 219, 438]}

### Question 

Count the total number of unique characters in a given sentence. 
#####Example - 
* Input - 'total'
* Output  - 'o', 'a', 'l'

In [ ]:
sample_sentence = "Pack my box with five dozen liquor jugs"
 
# write code here

{'c', 'n', 'e', 'x', 'i', 'k', 'u', 'l', 'h', 'd', 'q', 't', 'b', ' ', 'y', 'f', 'o', 's', 'r', 'g', 'm', 'P', 'v', 'w', 'a', 'j', 'z'}

27

### Question 

Write a calculator application using functions, which will ask for the users input such as - arithmetic operation, number1, number 2, and return the output post applying the arithmetic operator

#####Example - 


```
def calc(operation, x,y):
    if operation == "add":
        return x+y
```

In [ ]:
# use functions to write this code

### Question 

Write a code to ask the user to input three numbers and then print the largest one among the three.

In [ ]:
# You might want to use nested if statements

Enter three numbers :54 25 65
54 25 65
The largest number is  65

### Question

Check whether a number is perfect or not. 

A perfect number is a number that is sum of all of its positive divisors (excluding itself).
For more info refer to this link - https://www.geeksforgeeks.org/perfect-number/

Enter the number you want to check: 28
The number is a perfect number

### Question 

Add the elements in the two given lists using map and lambda functions

In [1]:
list1 = [5, 8, 9, 12]
list2 = [10, 12, 8, 6]

# write code here

### Question 

Write a code to find the factorial of a number using reduce function. 
#####Example -
 5!= 5 * 4 * 3 * 2 * 1=120.

Enter a natural number 5

120