In [ ]:
#---> to add comments

In [1]:
# print(x) : displays whatever we are keeping inside it

In [2]:
print('Hiii i am print function, use me to display your message')

Hiii i am print function, use me to display your message

In [3]:
print("are you getting it ????????????")

are you getting it ????????????

In [4]:
print("Hiii whats your name ???????")

Hiii whats your name ???????

In [5]:
# input () : it gives facility to ask input from user

In [6]:
input()

my name is kunal

'my name is kunal'

In [7]:
print("Hiii whats your name ???????")
input()

Hiii whats your name ???????
kunal

'kunal'

In [8]:
print("Hiii whats your name ???????")
input()
print("whats your age ?")
input()
print("where do you live ?")

Hiii whats your name ???????
ramesh
whats your age ?
22
where do you live ?

In [9]:
# we are not storing an input anywhere !!!!!!!!!!!!!

# variables

In [11]:
language = 'python'

In [12]:
language

'python'

In [13]:
print(language)

python

In [14]:
age = 45
height = 5.9
isIndian = True

In [15]:
age

45

In [16]:
height

5.9

In [17]:
isIndian

True

In [18]:
language = 'PYTHON'

In [19]:
language

'PYTHON'

In [ ]:
# string -- > a string can contain text, number, symbol

In [20]:
name = 'jay'
age = '35'

In [21]:
# type() : it gives information related to data type
type(name)

str

In [22]:
type(age)

str

In [23]:
# int -- > this represents whole number
a = 10
c = 20
age = 46

In [24]:
type(a)

int

In [25]:
type(age)

int

In [26]:
# float -- > represents number in decimal form
pi = 3.14
g = 9.8

In [27]:
type(pi)

float

In [28]:
type(g)

float

In [29]:
var1 = "6"
var2 = 6

In [30]:
type(var1)

str

In [31]:
type(var2)

int

In [32]:
# bool --> represents logical values True/ False

In [34]:
isIndian = True

In [35]:
type(isIndian)

bool

In [36]:
print('single quotation is string data')
print("double quotation is string data")

single quotation is string data
double quotation is string data

In [37]:
print("""double quotation is also string data
bu advantage of using triple is we can write text across
multiple lines""")

double quotation is also string data
bu advantage of using triple is we can write text across
multiple lines

In [38]:
# error
print("double quotation 
      is string data")

SyntaxError: EOL while scanning string literal (<ipython-input-38-72d312891844>, line 1)

In [40]:
language = input("enter the language : ")

enter the language : python

In [48]:
language

'python'

In [49]:
type(language)

str

In [50]:
name = 'kunal'
city = 'mumbai'

In [51]:
print("hii i am ",name, "from ",city)

hii i am  kunal from  mumbai

In [52]:
# formatted string

In [54]:
print(f"hii i am {name} from {city}")

hii i am kunal from mumbai

In [56]:
print("hii i am {name} from {city}")

hii i am {name} from {city}

In [58]:
age = input("enter your age : ")
type(age)

enter your age : 50

str

In [59]:
# any data accepeted by input function is considered as string

In [60]:
age + 10

TypeError: can only concatenate str (not "int") to str

In [ ]:
"50" +10

# Type casting

In [61]:
# its am method to convert one data type to another data type

In [62]:
age = int(input("enter your age : "))
type(age)

enter your age : 44

int

In [63]:
int(3.345677654345678)

3

In [64]:
int(3.000000000000009)

3

In [65]:
int(3.999999999999999)

3

In [68]:
round(3.111123,2)

3.11

In [66]:
float(5)

5.0

In [70]:
# take an input from user 
# input is weight in pounds
# get output weight in kg

In [71]:
pound = int(input("enter weight in pounds"))
kg = pound*0.45
print(f'{pound} pounds in kg will be {kg}kg')

enter weight in pounds130
130 pounds in kg will be 58.5kg

In [72]:
# types of type casting

# implicit type casting : python takes care of data type
# automatically

num1 = 5
num2 = 2
res = num1/num2
print(res)

2.5

In [73]:
type(num1)

int

In [74]:
type(num2)

int

In [75]:
type(res)

float

In [76]:
# Explicit type casting : Human intevention is needed to convert one data type to other

num1 = input("Enter the number")
num2 = 60

res = num1 + num2
print(res)

Enter the number40

TypeError: can only concatenate str (not "int") to str

In [77]:
# Explicit type casting : Human intevention is needed to convert one data type to other

num1 = int(input("Enter the number")) # type casting : explicit
num2 = 60

res = num1 + num2
print(res)

Enter the number40
100

# if elif else

In [82]:
# if : it evaluates only true or false
marks = int(input("enter your marks"))

if marks>=35:
    print("pass")

enter your marks12

In [80]:
#if marks>=35:
#print('pass')

In [84]:
# if else: it evaluates both true or false
# if : always specify condition
# else : dont need condition

marks = int(input("enter your marks"))

if marks>=35:
    print("pass")
else:
    print("fail")

enter your marks2
fail