# comprehension

In [15]:
google_data = open('google_stock_price.csv').readlines() 
google_data

del google_data[0]

google_data1=[float(i) for i in google_data[1::2]]

In [20]:
# categorize in three diff category # excellent : if stock value >500 
# good : if stock value is less than 500 but greater than 250 
# ok : if stock value is less than 250 #count of each ctegory
google_data = open('google_stock_price.csv').readlines() 
google_data
del google_data[0]
google_data1=[float(i) for i in google_data[1::2]]
excellent=len([i for i in google_data1 if int(i) > 500])
good=len([i for i in google_data1 if int(i) < 500 and int(i) > 250])
ok=len([i for i in google_data1 if int(i) < 250])
print(excellent)
print(good)
print(ok)

700
1169
1137

In [1]:
# find the squares of first five numbers

In [2]:
for i in range(10):
    print (i,end =" ")

0 1 2 3 4 5 6 7 8 9

In [4]:
# standard method
result = []
for  k in range(1,6):
    sq = k*k
    result.append(sq)
result

[1, 4, 9, 16, 25]

In [14]:
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3=[]
for  i in range(len(L2)):
     L3.append(L2[i] - L1[i])
print(L3)

[-2, -6, -15, -4, -8]

In [18]:
# comprehension
input_list = ['VARMA', 'raj', 'Gupta', 'SaNdeeP']
output_list = [i.capitalize() for i in input_list]
print(output_list)

['Varma', 'Raj', 'Gupta', 'Sandeep']

In [21]:

list(range(0, -101, 2))

[]

In [6]:
# list # dictionary

# list comprehension

In [7]:
# syntax -- >[ <output expression> <loop>]

In [8]:
['$' for i in range(1,10)]

['$', '$', '$', '$', '$', '$', '$', '$', '$']

In [9]:
[5 for i in range(1,15)]

[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]

In [10]:
# conditions within list comprehension

In [12]:
[x for x in range(1,51) if x<=4]

[1, 2, 3, 4]

In [13]:
# syntax -- >[ <output expression> <loop> <condition>]

In [15]:
[x for x in range(1,11) if x%2==0]

[2, 4, 6, 8, 10]

In [16]:
[x**2 for x in range(1,11) if x%2==0]

[4, 16, 36, 64, 100]

In [17]:
# processing data using comprehension

In [18]:
fruits = ['apple','cherry','strawberry','orange']

In [19]:
[k for k in fruits]

['apple', 'cherry', 'strawberry', 'orange']

In [20]:
[k.upper() for k in fruits]

['APPLE', 'CHERRY', 'STRAWBERRY', 'ORANGE']

In [21]:
[k.capitalize() for k in fruits]

['Apple', 'Cherry', 'Strawberry', 'Orange']

In [22]:
[k[0] for k in fruits]

['a', 'c', 's', 'o']

In [23]:
[k[-1] for k in fruits]

['e', 'y', 'y', 'e']

In [24]:
[k[::-1] for k in fruits]

['elppa', 'yrrehc', 'yrrebwarts', 'egnaro']

In [25]:
[k for k in fruits if k[0] in 'aeiou']

['apple', 'orange']

In [26]:
string = 'python'
string[::-1]

'nohtyp'

In [27]:
# task

product = 'chocolate milk@ mobile butt@er cheese@ bread'

In [28]:
prod_list = product.split()
prod_list

['chocolate', 'milk@', 'mobile', 'butt@er', 'cheese@', 'bread']

In [29]:
[x for x in prod_list if '@' in x]

['milk@', 'butt@er', 'cheese@']

In [31]:
[x for x in product.split() if '@' in x]

['milk@', 'butt@er', 'cheese@']

In [67]:
#[int(i) for i in data.split() if i.isdigit()]

[30, 200, 500]

In [32]:
# Dictionary comprehension

In [33]:
# syntax = {<key: value> <loop>}

In [34]:
{i:'$' for i in range(1,6)}

{1: '$', 2: '$', 3: '$', 4: '$', 5: '$'}

In [35]:
{i:'$' for i in fruits}

{'apple': '$', 'cherry': '$', 'strawberry': '$', 'orange': '$'}

In [36]:
{i:len(i) for i in fruits}

{'apple': 5, 'cherry': 6, 'strawberry': 10, 'orange': 6}

In [37]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [38]:
# how to create dictionary from two lists

In [43]:
fruits = ['apple','cherry','strawberry','orange']
color = ['green','yellow','red','orange']

In [44]:
# zip

for i,j  in zip(fruits,color):
    print(i,j)

apple green
cherry yellow
strawberry red
orange orange

In [45]:
{a:b for a,b in zip(fruits,color)}

{'apple': 'green', 'cherry': 'yellow', 'strawberry': 'red', 'orange': 'orange'}

In [46]:
# enumerate

In [48]:
for  x in enumerate(fruits):
    print(x[0])

0
1
2
3

In [50]:
{fruits[x[0]]:color[x[0]] for  x in enumerate(fruits)}

{'apple': 'green', 'cherry': 'yellow', 'strawberry': 'red', 'orange': 'orange'}

In [ ]:
# conditions in dict comp

In [52]:
{y : 'odd' for y in range(1,6)}

{1: 'odd', 2: 'odd', 3: 'odd', 4: 'odd', 5: 'odd'}

In [54]:
{y : 'odd' if y%2!=0 else 'even' for y in range(1,6)}

{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd'}

In [55]:
{y : 'odd' for y in range(1,6) if y%2!=0 }

{1: 'odd', 3: 'odd', 5: 'odd'}

In [56]:
# syntax for condition is

# { <output> <loop> <if condition>}
# { <output> <if condition> else <else res>  <loop> }

In [58]:
marks = [23,56,37,80,78,5]

{ m:"pass"  if m>35  else "failed"  for m in marks}

{23: 'failed', 56: 'pass', 37: 'pass', 80: 'pass', 78: 'pass', 5: 'failed'}

In [61]:
# task

data = 'mumbai 30 pune 200 delhi 500'
# total distance travelled

In [64]:
sum([ int(i) for i in data.split() if i.isdigit()])

730

In [24]:

set(range(-2, -101, -2))

{-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2}

# Functions

In [84]:
# define a function

def iseven(n):
    if n%2==0:
        status = 'even'
    else:
        status = 'odd'
    return status

In [85]:
# call a function

ans = iseven(8)

In [86]:
ans

'even'

In [71]:
iseven(474674674674674674647)

'odd'

In [78]:
# define a function

def iseven2(n):
    if n%2==0:
        status = 'even'
    else:
        status = 'odd'

In [80]:
iseven2(53636)

In [77]:
print(b)

None

In [81]:
# define a function

def iseven3(n):
    if n%2==0:
        return 'even'
    else:
        return 'odd'

In [83]:
c = iseven3(90)
c

'even'

In [87]:
# scenarios in function ()

In [89]:
# 1 :  a function may or many not return a value
def sayhi():
    print("hello everyone welcome to python coding")

In [90]:
# function call
sayhi()

hello everyone welcome to python coding

In [92]:
# 2 a function parameter bcan be passed by paramter order
def area_of_circle(radius, pi):
    area = pi*radius*radius
    return area

In [94]:
# call function
area_of_circle(10,3.14)

314.0

In [95]:
area_of_circle(3.14,10)

98.596

In [96]:
# 3 function can have default arguements
def circle_area(radius, pi = 3.14):
    return pi*radius*radius

In [97]:
circle_area(10)

314.0

In [98]:
# parameter vs arguments

In [99]:
# parameter : while defining a function
# arguments : while calling a function

def circle_area(radius, pi = 3.14):
    return pi*radius*radius

# circle_area(10)
# radius = paramater, 10 = argument

In [101]:
# docstring

In [104]:

def iseven(n):
    """ Returns even if number is divisible by 2 or it will return off
    input expected = any real number
    output = string even or odd based on condition"""
    if n%2==0:
        status = 'even'
    else:
        status = 'odd'
    return status

In [105]:
iseven.__doc__

' Returns even if number is divisible by 2 or it will return off\n    input expected = any real number\n    output = string even or odd based on condition'

In [106]:
# global vs local variable

In [113]:
a = 1 # global

def add_num(nums):
    #print(a)
    total= 0
    for i in nums:
        total = total+i  #local variable 
    return total

In [114]:
add_num([1,2,3])

1

6

In [111]:
# recall variables

print(a)

1

In [112]:
print(total)

NameError: name 'total' is not defined

# Lambda

In [115]:
# function

def sqr(num):
    return num*num

In [116]:
sqr(4)

16

In [117]:
# lambda

In [118]:
s = lambda x:x*x

In [119]:
s(4)

16

In [120]:
(lambda x:x*x)(4)

16

In [121]:
(lambda x,y:x*y)(4,3)

12

In [122]:
(lambda x:x.capitalize())('avengers')

'Avengers'

In [123]:
(lambda x:x.upper())('avengers')

'AVENGERS'

In [124]:
# user will enter a number
# get difference of that number from 20
# if result is positive return double the  difference
# if reuslt is negative return difference
# if same then return message that "entered number is same"

In [130]:
def number(n):
    diff = 20-n
    if diff > 0: 
        return diff*2 
    elif diff <0: 
        return diff 
    else: 
        return "same number" 
number(10)

20